*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

body{
  padding: 2rem 1rem;
  /* background: rgb(11, 11, 190);
  background: linear-gradient(
    0deg,
    rgba(11, 11, 190, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-color: rgb(255, 255, 255);
}
.App {
  text-align: center;
}
